# ** Debug and Logfire section

# DEBUG=true
# LOGFIRE=true
SANDBOX_CONTAINER_IMAGE="ubuntu.sandbox:4"
SANDBOX_CONTAINER_NAME=sandbox

# ** MCP section
# MCP_ENABLED=true

# mcp-gitlab-server
# GITLAB_PERSONAL_ACCESS_TOKEN=glpat-xxxxx_xxxxx
# GITLAB_API_URL="https://gitlab.company.com/api/v4"


# ** LLM section

OPENAI_MODEL=cogito:14b
OPENAI_API_KEY=ollama
OPENAI_API_BASE=http://localhost:11434/v1
SANDBOX_CONTAINER_IMAGE=ubuntu.sandbox
SANDBOX_CONTAINER_NAME=sandbox

# For sandbox container variables, see .env.sandbox
