{
  "mcpServers": {
    "mcp-gitlab-server": {
      "command": "npm",
      "args": ["start", "--silent", "--prefix", "/path/to/mcp-gitlab-server"],
      "env": {
        "GITLAB_PERSONAL_ACCESS_TOKEN": "glpat-xxxx_xxxxx",
        "GITLAB_URL": "https://gitlab.company.com/" 
      }
    }
  }
}